/* character length */
.CharacterSettings__charLengthContainer {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

.CharacterSettings__charLength {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.CharacterSettings__text {
  font: var(--fontPreset4);
  color: var(--color-grey-200);
}

.CharacterSettings__length {
  font: var(--fontPreset2);
  color: var(--color-green-200);
}

.CharacterSettings__sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  --thumbIndex: 20;
  --sliderHeight: 8px;
}

.CharacterSettings__slider {
  position: relative;
  appearance: none;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: var(--sliderHeight);
  outline: none;
  z-index: calc(var(--thumbIndex) - 1);
}

.CharacterSettings__slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  z-index: var(--thumbIndex);
  border-radius: 999px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--color-grey-200);
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.CharacterSettings__slider::-webkit-slider-thumb:hover,
.CharacterSettings__slider:focus.CharacterSettings__slider::-webkit-slider-thumb,
.CharacterSettings__slider:active.CharacterSettings__slider::-webkit-slider-thumb {
  background-color: var(--color-grey-850);
  border-color: var(--color-green-200);
}

.CharacterSettings__sliderContainer .CharacterSettings__sliderProgress {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  width: 0%;
  height: var(--sliderHeight);
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  background-color: var(--color-green-200);
  z-index: calc(var(--thumbIndex) - 2);
}

.CharacterSettings__sliderContainer .CharacterSettings__sliderBackground {
  height: var(--sliderHeight);
  position: absolute;
  display: inline-block;
  background-color: var(--color-grey-850);
  width: 100%;
}
