.Password__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Password__value {
  font: var(--fontPreset2);
  color: var(--color-grey-200);
}

.Password__value:empty::before {
  content: attr(data-placeholder);
  color: var(--color-grey-700);
}

.Password__copiedContainer {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.Copied__text {
  color: var(--color-green-200);
  font: var(--fontPreset4);
  visibility: hidden;
  text-transform: uppercase;
}

.Copy__button {
  display: inline-flex;
  border: none;
  align-items: center;
  justify-content: center;
  outline: none;
}

.Copy__iconWrapper {
  display: inline-flex;
  width: 18px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.Copy__iconWrapper svg {
  width: inherit;
  height: inherit;
  fill: var(--color-green-200);
}

.Copy__button:hover .Copy__iconWrapper svg {
  fill: var(--color-white);
}

.Copy__button:focus .Copy__iconWrapper svg,
.Copy__button:active .Copy__iconWrapper svg {
  fill: var(--color-green-200);
}

@media (min-width: 600px) {
  .Password__value {
    font: var(--fontPreset1);
  }

  .Copied__text {
    font: var(--fontPreset3);
  }

  .Copy__iconWrapper {
    width: 21px;
    height: 24px;
  }
}
